@{
    ViewBag.Title = "GML-eksempelgenerator";
}

<h2>Generer GML fra XSD</h2>
<hr />

@using (Html.BeginForm("GmlFromXsdUrl", "Generate", FormMethod.Post))
{
    <b>URL til XSD</b>
    <div class="row">
        <div class="col-lg-4">
            <div class="input-group">
                <input type="text" name="urlToXsd" class="form-control" size="40" placeholder="http://...">
            </div>
        </div>
        <div class="col-lg-8">
            <input type="submit" value="Generer GML" class="btn btn-primary" />
        </div>
    </div>
}

<br />

@using (Html.BeginForm("GmlFromXsdFile", "Generate", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <b>Lokal XSD-fil</b>
    <div class="row">
        <div class="col-lg-4">
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Velg fil @Html.TextBox("xsdfile", null, new { type = "file" })
                    </span>
                </span>
                <input type="text" class="form-control" readonly>
            </div>
        </div>
        <div class="col-lg-8">
            <input type="submit" value="Generer GML" class="btn btn-primary" />
        </div>
    </div>
}

@section scripts{
    <script src="~/Scripts/file-inputelement-handling.js"></script>
}
