@{
    ViewBag.Title = "GML-eksempelgenerator";
}

<h2>Generer GML fra XSD</h2>
<hr />

@using (Html.BeginForm("GmlFromXsdUrl", "Generate", FormMethod.Post))
{
    <label>URL til XSD</label>
    <div class="row">
        <div class="col-md-4 ">
            <div class="form-group">
                <input type="text" name="urlToXsd" class="form-control" placeholder="http://...">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="submit" value="Generer GML" class="btn" />
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("GmlFromXsdFile", "Generate", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label>Last opp XSD-fil</label>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-file">
                            Velg fil @Html.TextBox("xsdfile", null, new { type = "file" })
                        </span>
                    </span>
                    <input type="text" class="form-control" readonly>
                    </div>
                </div>
            </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="submit" value="Generer GML" class="btn" />
            </div>
        </div>
    </div>
}

@section scripts{
    <script src="~/Scripts/file-inputelement-handling.js"></script>
}
